body{
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.box{
    padding-left: 550px;
    padding-top: 30px;
   
}

.card{
    border-radius: 20px;
    box-shadow: 0px 5px 15px   rgba(181, 180, 180, 0.5);
    width: 500px;
}

.sign{
    float: left;
    margin-left: 1250px;
}

.button{
    background-color: rgb(252, 194, 86);
    border-radius: 20px;
    width: 90px;
}

.btn.signin{

    margin-top: 20px;
    width: 120px;
    font-weight: bolder;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-transform: uppercase;
}

.parked{
    font-size: 19px;
}

.park{
    margin-top: 20px;
}

.table{
    width: 1100px;
    margin-left: 200px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.hero{
    background-color: rgb(149, 124, 77);

}

/* cards */
.box{
    /* padding-left: 450px; */
    padding-top: 10px;
   
}

.card{
    border-radius: 20px;
    box-shadow: 0px 5px 15px   rgba(181, 180, 180, 0.5);
    width: 500px;
}

.sign{
    float: left;
    margin-left: 1200px;
    font-weight: bolder;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-transform: uppercase;
}

.tyre{
    font-size: 20px;
    font-weight: bold;
}

.cards{
    margin-top: 20px;
    margin-left: 50px;
}

.overlap{
    display: flex; 
    align-items: center;
    /* justify-content: center; */
    gap: 45px;
} 

.info{
    font-size: 45px;
}

.services{
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.cars{
    font-size: 40px;
    color: rgb(127, 114, 90);
    font-weight: bolder;
}

.price{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 20px;
}  

.vehicle{
    margin-top: 20px;
    margin-left: 100px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bolder;
}

.register{
    margin-top: 30px;
    margin-right: 30px;
    width: 170px;
    height: 60px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
    background-color: rgb(189, 135, 34);
    justify-content: flex-end;
    float: right;
}

.register:hover{
    background-color: rgb(94, 67, 16);
    color: #fff;
}

.search{
    padding-top: 10px;
}

