#nav-head{
    background-color: #f7f7bb;
}

.button{
    border-radius: 10px;
    background-color: #f7f7bb;
    text-transform: uppercase;
    font-weight: bolder;
    height: 40px;
    width: 80px;
    float: left;
}

.services{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 25px;
    float: left;
    margin-left: 30px;

}

body{
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.box{
    padding-left: 550px;
    padding-top: 30px;
   
}

.card{
    border-radius: 20px;
    box-shadow: 0px 5px 15px   rgba(181, 180, 180, 0.5);
    width: 500px;
}

.sign{
    float: left;
    margin-left: 1200px;
    font-weight: bolder;
}

.btn{
    background-color: rgb(252, 194, 86);
    border-radius: 20px;
    width: 90px;
}

.btn.signin{

    margin-top: 15px;
    width: 120px;
    font-weight: bolder;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-transform: uppercase;
}

.tyre{
    font-size: 20px;
    font-weight: bold;
}

.cards{
    margin-top: 20px;
    margin-left: 50px;
}

.overlap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.info{
    font-size: 40px;
}



.cars{
    font-size: 30px;
    color: rgb(127, 114, 90);
    font-weight: bolder;
}

.price{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 20px;
}

.park{
    text-decoration: none;
    font-size: 30px;
}