#nav-head{
    background-color: #f7f7bb;
}

.button{
    border-radius: 10px;
    background-color: #f7f7bb;
    text-transform: uppercase;
    font-weight: bolder;
    height: 40px;
    width: 80px;
    float: left;
}
body{
    background-image: url(/images/docky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.overlap h1{
    color: bisque;
    font-size: 75px;
    margin-top: 30px;
    margin-left: 30px;
}

.overlap p i{
    color: bisque;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
}

.services{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 25px;

}