body{
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.box{
    padding-left: 550px;
    padding-top: 10px;
   
}

.card{
    border-radius: 20px;
    box-shadow: 0px 5px 15px   rgba(181, 180, 180, 0.5);
    width: 500px;
}

.sign{
    float: left;
    margin-left: 1200px;
    font-weight: bolder;
}

.btn{
    background-color: rgb(252, 194, 86);
    border-radius: 20px;
    width: 90px;
}

.btn.signin{

    margin-top: 15px;
    width: 120px;
    font-weight: bolder;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-transform: uppercase;
}

.tyre{
    font-size: 20px;
    font-weight: bold;
}

.cards{
    margin-top: 20px;
    margin-left: 10px;
}

.overlap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.info{
    font-size: 45px;
}

.services{
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.cars{
    font-size: 40px;
    color: rgb(127, 114, 90);
    font-weight: bolder;
}

.price{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 20px;
}   


.register{
    margin-top: 30px;
    margin-left: 20px;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
    background-color: rgb(237, 164, 138);
}

footer{
    background-color: rgb(160, 109, 12);
    justify-content: flex-end;
}