body{
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.box{
    padding-left: 550px;
    padding-top: 30px;
   
}

.card{
    border-radius: 20px;
    box-shadow: 0px 5px 15px   rgba(181, 180, 180, 0.5);
    width: 500px;
}

.sign{
    float: left;
    margin-left: 1250px;
}

.btn{
    background-color: rgb(252, 194, 86);
    border-radius: 20px;
    width: 90px;
}

.btn.signin{

    margin-top: 20px;
    width: 120px;
    font-weight: bolder;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-transform: uppercase;
}

.parked{
    font-size: 19px;
}

.park{
    margin-top: 20px;
}

.table{
    width: 1200px;
    margin-left: 200px;
    align-items: center;
    justify-content: center;
}

.hero{
    background-color: rgb(149, 124, 77);

}

