doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/tyredash.css')
  title Parking section
.dockille
  nav#nav-head.navbar.navbar-expand-lg.bg-body-tertiary
    .container-fluid
      a.navbar-brand(href='landing')
        img(src='/images/dock-logo.png' width='70px' height='70px')
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item.services.dockville
          li.nav-item
            a.nav-link(href='#')
              h3.tyre Tyre Clinic

          li.nav-item
            a.nav-link(href='home')
              button.btn.sign(type='submit') back
.overlap(style='text-align: center;')
  h1 Welcome to the Tyre World
  //- p
    //- i Enjoy parking as never before
.row
  .col-sm-6.mb-3.mb-sm-0
    .card.mony
      .card-body
        h5.card-title.info Tyre Purchase
        p.card-text.service For all the tyre types and sizes
        p.card-text.service The right tyre for any journey
        p.card-text.service We got you!!!
        a.btn.btn-primary.mybtn(href='Tyre2') Click here
  .col-sm-6
    .card.mony
      .card-body
        h5.card-title.info Tyre Services
        .card(style='width: 18rem;')
        ul.list-group.list-group-flush
          li.list-group-item.service Tyre Pressure-500
          li.list-group-item.service Puncture-fixing-5000
          li.list-group-item.service Valves-5000

        a.btn.btn-primary.mybtn(href='tyre') Click here



script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js')
