doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/tyre2.css')
  title tyre form
.dockille
  nav#nav-head.navbar.navbar-expand-lg.bg-body-tertiary
    .container-fluid
      a.navbar-brand(href='landing')
        img(src='/images/dock-logo.png' width='70px' height='70px')
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item.services.dockville
          li.nav-item
            a.nav-link(href='#')
              h3.tyre Tyre Clinic
          li.nav-item
            a.nav-link(href='#')
              button.btn.sign(type='submit') back
h4.title Tyre purchase form
.box
  .card
    .card-body
      form#formId.tyre2-form(name='tyre2' action='#' onsubmit="return Validate()" method="POST")
        .row
          .col
            label(for='firstname') Firstname
            input.form-control(type='text' name='firstname' aria-label='First name')
          .col
            label(for='lastname') Last name
            input.form-control(type='text' name='lastname' aria-label='Last name')
        .col
          label(for='telephone') Telephone
          input.form-control(type='number' name='telephone' aria-label='telephone')
        .mb-3
          label.form-label(for='tyre-type') Tyre type
          select.form-select(aria-label='Default select example' name='tyretype')
            option(selected='') select
            option(value='brand-new') Brand new
            option(value='Used-tyres') Used tyres
        .row
          .col
            label(for='size') Tyre size
            input.form-control(type='text' name='tyre-size' aria-label='tyre-size')
          .col
            label(for='make') Tyre make
            input.form-control(type='text' name='tyre-make' aria-label='make')
        .col
          label(for='model')  Car Model
          input.form-control(type='text' name='model' aria-label='model')
        .col
          label(for='quantity')  Quantity
          input.form-control(type='text' name='quantity' aria-label='quantity')
        .col
          label(for='date') Date
          input.form-control(type='date' name='date' aria-label='date')
        .mb-3
          label.form-label(for='charge') Charge
          input#charge.form-control(type='charge' name='charge')
        button.btn.signin(type='submit') Submit
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js')
