<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/css/parkdash.css">
    <title>Parking section</title>
<body>
    <div class="dockille">
        <nav class="navbar navbar-expand-lg bg-body-tertiary" id="nav-head">
          <div class="container-fluid">
            <a class="navbar-brand" href="landing2.html">
              <img src="/public/images/dock-logo.png" width="70px" height="70px">
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item services dockville">
 
                <li class="nav-item ">
                  <a class="nav-link" href="#">
                      <h3 class="tyre">Parking</h3>
                  </a>
                </li>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle  services" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Services
                    </button>
                    <ul class="dropdown-menu">
                      <li><button class="dropdown-item" type="button"><a href="register.html">Park Vehicle</a></button></li>
                      <li><button class="dropdown-item" type="button"><a href="parking.html">Parked</a></button></li>
                      <li><button class="dropdown-item" type="button">Settings</button></li>
                      <li><button class="dropdown-item" type="button">Report</button></li>
                    </ul>
                  </div>
                <li class="nav-item">
                  <a class="nav-link" href="landing2.html">
                    <button type="submit" class="btn sign ">Logout</button>
                  </a>
                </li>
  
            </div>
          </div>
        </nav>
      </div>

      <!-- cards -->
      <div class="overlap">
      <div class="cards">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text  info">60</p>
          <h5 class="card-title cars">Total Vehicles</h5>
          <span class="fas fa-car"></span>
        </div>
      </div>
      </div>
      <div class="cards">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text  info">40</p>
          <h5 class="card-title cars">Vehicle in</h5>
          <span class="fas fa-car"></span>
        </div>
      </div>
      </div>
      <div class="cards">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text info">9</p>
          <h5 class="card-title cars">Vehicles Out</h5>
          <span class="fas fa-car"></span>
        </div>
      </div>
      </div>
    </div>

    <div class="price">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Coasters</h5>
          <ul>
            <li>Day-4000</li>
            <li>Night-3000</li>
            <li>3hrs-2000</li>
          </ul>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Trucks</h5>
          <ul>
            <li>Day-3000</li>
            <li>Night-5000</li>
            <li>3hrs-2000</li>
          </ul>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Personal cars</h5>
          <ul>
            <li>Day-3000</li>
            <li>Night-2000</li>
            <li>3hrs-2000</li>
          </ul>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Bodas</h5>
          <ul>
            <li>Day-2000</li>
            <li>Night-2000</li>
            <li>3hrs-1000</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="sidebar">
        <div class="sidebar-menu">
            <ul class="menu-list">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#"><span>Services</span>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Reports</a>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- <footer>
      <div>
        <p>Designed by Monicah Mirembe</p>
        <span>Copyright &copy; 2023 Dockville.All Rights Reserved</span>
      </div>
    </footer> -->
 

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

